[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "~=2.3.0"
requests = "~=2.32.3"
jira = "~=3.0.0"
logging-formatter-anticrlf = "~=1.2.1"

[dev-packages]
black = "~=24.8.0"
typing_extensions = "*"
tomli = "*"
flake8 = "~=7.1.1"

[requires]
python_version = "3"

[scripts]
# Formatting / Linting
fmt = "black --check --exclude=vendor ."
lint = "flake8 --ignore E501,W503 ."
# Vendor Script
vendor = "./vendor/update.sh"
